<!-- breadcrumb start -->
<app-breadcrumb [title]="'404 page'" [breadcrumb]="'404 page'" *ngIf="!orderDetails"></app-breadcrumb>
<!-- breadcrumb End -->

<!-- section start -->
<section class="p-0" *ngIf="!orderDetails">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="error-section">
                    <h1>404</h1>
                    <h2>page not found</h2>
                    <a [routerLink]="'/home/fashion'" class="btn btn-solid">back to home</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->

<!-- thank-you section start -->
<section class="section-b-space light-layout" *ngIf="orderDetails">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="success-text">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <h2>{{'thank you' | translate}}</h2>
                    <p>{{'Order Placed Successfully' | translate}}</p>
                    <p>{{'Transaction ID:'  | translate}} {{ orderDetails.orderId }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->

<!-- order-detail section start -->
<section class="section-b-space" *ngIf="orderDetails">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-order">
                    <h3>{{'your order details' | translate}}</h3>
                    <div class="row product-order-detail" *ngFor="let product of orderDetails.product">
                        <div class="col-3">
                            <img [src]="product.images[0].src" alt="" class="img-fluid">
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>{{'stock.product.title' | translate}}</h4>
                                <h5>{{ product.title }}</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>{{'stock.product.form.quantity' | translate}}</h4>
                                <h5>{{ product.quantity }}</h5>
                            </div>
                        </div>
                        <div class="col-3 order_detail">
                            <div>
                                <h4>{{'variant.price' | translate}}</h4>
                                <h5>{{ product?.price * productService?.Currency?.price | discount:product | currency:productService?.Currency.currency:'' }} {{productService?.Currency.currency | translate}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="total-sec">
                        <ul>
                            <li>  {{'Subtotal' | translate}} <span>{{ orderDetails.totalAmount | currency:productService?.Currency.currency:'' }} {{productService?.Currency.currency | translate}}</span></li>
                            <li> {{'Shipping' | translate}} <span>{{ orderDetails.shipping | currency:productService?.Currency.currency:'' }} {{productService?.Currency.currency | translate}}</span></li>
<!--                            <li>Tax <span>$00.00</span></li>-->
                        </ul>
                    </div>
                    <div class="final-total">
                        <h3>{{'total' | translate}} <span>{{ orderDetails.totalAmount + orderDetails.shipping | currency:productService?.Currency.currency:'' }} {{productService?.Currency.currency | translate}}</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row order-success-sec">
                    <div class="col-sm-6">
                        <h4>{{'summery' | translate}}</h4>
                        <ul class="order-detail">
                            <li>{{'order ID:' | translate}} {{ orderDetails.orderId }}</li>
                            <li>{{'Order Date:' | translate}} {{orderDetails.date | date : 'yyyy-MM-dd hh:mm'}}</li>
                            <li>{{'Order Total:' | translate}} {{ orderDetails.totalAmount + orderDetails.shipping | currency:productService?.Currency.currency:'' }} {{productService?.Currency.currency | translate}}</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h4>{{'shipping address' | translate}}</h4>
                        <ul class="order-detail">
                            <li>{{ orderDetails.shippingDetails.location }}</li>
                            <li>{{'Contact No.'  | translate}} <span dir="ltr"> +216 {{ orderDetails.shippingDetails.phone }} </span> </li>
                        </ul>
                    </div>

                    <div class="col-sm-12 payment-mode">
                        <h4>{{'payment method' | translate}}</h4>
                        <p>{{'Pay on Delivery (Cash/Card). Cash on delivery (COD) available. Card/Net banking acceptance subject to device availability.' | translate}}</p>
                    </div>
                    <div class="col-md-12">
                        <div class="delivery-sec">
                            <h3>{{'expected date of delivery' | translate}}</h3>
                            <h2>{{dateShipping.year+'-'+dateShipping.month+'-'+dateShipping.day  }}</h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Section ends -->
