<!--
<div class="container-fluid">
  <form>
    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="inputFirstName">Mot de passe actuel</label>
        <input type="text" class="form-control" id="inputFirstName" placeholder="First name">
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="inputEmail2">Nouveau mot de passe</label>
        <input type="email" class="form-control" id="inputEmail2" placeholder="Email">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="inputEmail3">Saisissez à nouveau le mot de passe</label>
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Ville</button>
  </form>
</div>
-->

<div  class="col-md-12 mt-2 ml-2  mr-2 p-2">
    <div >
        <div >
<!--            <div  class="row justify-content-center  bg-light">-->
<!--                <h6 translate="password.title" style="color: #454444" class="mt-2" >-->
<!--                    &lt;!&ndash;            <strong  *ngIf="account"> {{account.lastName}}  {{account.firstName}}</strong><strong  *ngIf="!account"> account ..</strong>&ndash;&gt;-->
<!--                </h6>-->
<!--                &lt;!&ndash;          <strong  style="color: #454444" class="h6-responsive">  {{'password.title' | translate}}  admin</strong>&ndash;&gt;-->
<!--            </div>-->
            <div >


                <div class="alert alert-success" *ngIf="success" >
                    <strong translate="password.messages.success"></strong>
                </div>

                <div class="alert alert-danger" *ngIf="error" >
                    <strong translate="password.messages.error"></strong>
                </div>

                <div class="alert alert-danger" *ngIf="doNotMatch" translate="messages.error.dontmatch">

                </div>

                <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label " for="currentPassword" translate="form.currentpassword.label"></label>
                            <input type="password"  class="form-control" id="currentPassword" name="currentPassword"
                                   placeholder="{{ 'form.currentpassword.placeholder' | translate }}"
                                   formControlName="currentPassword">

                            <div *ngIf="passwordForm.get('currentPassword')!.invalid && (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)" >
                                <small class="form-text text-danger"
                                       *ngIf="passwordForm.get('currentPassword')?.errors?.required"
                                       translate="messages.validate.newpassword.required">

                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label " for="newPassword" translate="global.form.newpassword.label"></label>
                            <input type="password"  class="form-control" id="newPassword" name="newPassword"
                                   placeholder="{{ 'form.newpassword.placeholder' | translate }}"
                                   formControlName="newPassword">

                            <div *ngIf="passwordForm.get('newPassword')!.invalid && (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="passwordForm.get('newPassword')?.errors?.required"
                                       translate="messages.validate.newpassword.required">
                                </small>

                                <small class="form-text text-danger"
                                       *ngIf="passwordForm.get('newPassword')?.errors?.minlength"
                                       translate="messages.validate.newpassword.minlength">

                                </small>

                                <small class="form-text text-danger"
                                       *ngIf="passwordForm.get('newPassword')?.errors?.maxlength"
                                       translate="messages.validate.newpassword.maxlength">

                                </small>
                            </div>

                            <app-password-strength [passwordToCheck]="passwordForm.get('newPassword')!.value"></app-password-strength>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label " for="confirmPassword" translate="form.confirmpassword.label"></label>
                            <input  type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                    placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                                    formControlName="confirmPassword">

                            <div *ngIf="passwordForm.get('confirmPassword')!.invalid && (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="passwordForm.get('confirmPassword')?.errors?.required"
                                       translate="messages.validate.confirmpassword.required">

                                </small>

                                <small class="form-text text-danger"
                                       *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength"
                                       translate="messages.validate.confirmpassword.minlength">

                                </small>

                                <small class="form-text text-danger"
                                       *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength"
                                       translate="messages.validate.confirmpassword.maxlength">

                                </small>
                            </div>
                        </div>
                    </div>



                    <div >
                        <button  class=" btn btn-sm btn-solid">   {{'action.save' | translate}}   </button>


                    </div>
                </form>

            </div>
        </div>

    </div>
</div>

