<ul class="product-social">
    <li>
      <a href="https://www.facebook.com/" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
<!--    <li>-->
<!--      <a href="https://plus.google.com/discover">-->
<!--        <i class="fa fa-google-plus"></i>-->
<!--      </a>-->
<!--    </li>-->
    <li>
      <a href="https://twitter.com/" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </li>
</ul>
