<app-breadcrumb [title]="'Login'" [breadcrumb]="'Login'"></app-breadcrumb>
<!-- section start -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>{{'Login' | translate}}</h3>
                <div class="theme-card">
                    <form class="theme-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="review">{{'LOGIN.lastname' | translate}}</label>
                                <input type="text" class="form-control" id="lname" placeholder="{{'LOGIN.lastname' | translate}}" formControlName="lastName" required="">
                            </div>
                            <div class="col-md-6">

                                <label for="fname">{{'LOGIN.firstName' | translate}}</label>
                                <input type="text" class="form-control" id="fname" placeholder="{{'LOGIN.firstName' | translate}}" formControlName="firstName" required="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <app-text-input formControlName="email"></app-text-input>
                            </div>
                            <div class="col-md-6">
                                <label for="review1">{{'LOGIN.MobilePhone' | translate}}</label>
                                <input type="number" class="form-control" id="review1" formControlName="phone" placeholder="{{'LOGIN.MobilePhone' | translate}}" required="">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="review">{{'LOGIN.Password' | translate}}</label>
                                <input type="password" class="form-control" id="review" formControlName="password" placeholder="{{'LOGIN.Password' | translate}}" required="">

                            </div>
                            <div class="col-md-6">
                                <label for="review1">{{'Confirm Password' | translate}}</label>
                                <input type="password" class="form-control" id="review2" formControlName="confirmPassword" placeholder="{{'Confirm Password' | translate}}" required="">
                            </div>
                            <button class="btn btn-solid" [disabled]="registerForm.invalid">{{'Login' | translate}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->
