//@import '~bootstrap/scss/mixins/breakpoints';
//@import '~@nebular/theme/styles/global/breakpoints';
//
//
//@include nb-install-component() {
//
//
//
//  @include media-breakpoint-down(is) {
//    img
//    {
//      width: 100%;
//      height: 200px;
//    }
//    .img-hover:hover{
//
//      border-width: 2px;
//      //background-color: #e0e0e0 ;
//      clear: both;
//
//    }
//    h6{
//      font-size: 0.75rem;
//    }
//  }
//}


.img-hover:hover{
  border-color:#badaf7 ;
  border-width: 2px;
  //background-color: #e0e0e0 ;
  clear: both;
  //line-height: 1.65em;
  //border-radius: 10% 10% 10% 10% / 2% 2% 2% 2% ;
  box-shadow: 0 0 10px 1px #598bff;
}
